# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json
yarn.lock
pnpm-lock.yaml

# Next.js build output
.next/
out/

# Env files
.env*
!.env.example

# VS Code
.vscode/
.history/

# Logs
logs/
*.log
*.log.*

# OS junk
.DS_Store
Thumbs.db

# Typescript
*.tsbuildinfo

# Coverage
coverage/
